 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins";
}

 .loader{
  position: relative;
  bottom: 8rem;
  display:none;
}

.container {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

header,
footer {
  /* From https://css.glass */
  background: rgb(10, 10, 22);
  /* border-radius: 0 0 16px 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 100%;
  z-index: 1;
}
/* ADJUST WITH JS */
header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: aliceblue;
  margin-bottom: 10rem;
}


header .name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.name .github {
  font-size: 1.5rem;
}

header .home_btn {
  color: white;
}
header .home_btn:hover {
  transform: scale(1.3);
  transition: 1s;
}

footer {
  position: fixed;
  bottom: 0;
}

footer .logo {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 3rem;
  max-width: 700px;
}

.errorMsg{
  color: grey;
  display: flex;
  gap: 1rem;
  display: none;
}
.errorMsg i {
  font-size: 3rem;
}
.errorMsg span {
  font-size: 2rem;
}

.searchbar #search {
  width: 70%;
  padding: 1rem;
  font-size: 1rem;
  background: rgba(48, 46, 46, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(48, 46, 46, 0.06);
  transform: translateX(2px);
  outline: none;
}

.searchbar button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  transform: rotate(-45deg);
}
.searchbar button:hover {
  transform: rotate(10deg);
  transition: 0.5s;
}

.search_result {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex-direction: column; */
  width: 88%;
  padding: 1rem;
  border-top: 1px solid grey;
  gap: 1rem;
  margin-bottom: 7rem;
  flex-wrap: wrap;
}

.search_result .result {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  background: #ffffff;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.search_result .result:hover {
background-color: rgba(128, 128, 128, 0.123);
}

.search_result .result .avatar {
  width: 20%;
}
.search_result .result .avatar img {
  width: 100%;
  border-radius: 100%;
}
.search_result .result .user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
}

.search_result .result .user_name {
  font-size: 1rem;
  font-weight: 600;
}

.search_result .result .user button {
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  color: grey;
  font-size: 0.9rem;
}

.search_result .result .user button:hover {
  color: rgb(3, 62, 255);
}


/* LARGER SCREENS */
@media only screen and (min-width: 600px) {
  .searchbar{
    position: absolute;
    top: 150px;
    left: 1%;
  }

  .search_result .result{
    flex: 1 1 250px;
    max-width: 250px;
  }

}
